In [2]:
import numpy as np
import pandas as pd
import scipy.stats as scs

In [16]:
data=pd.read_excel('hw1.xlsx')

In [17]:
data=pd.DataFrame(data)

In [19]:
data.set_index(['Date'],inplace=True)

In [47]:
data.index

DatetimeIndex(['1999-01-04', '1999-01-05', '1999-01-06', '1999-01-07',
               '1999-01-08', '1999-01-11', '1999-01-12', '1999-01-13',
               '1999-01-14', '1999-01-15',
               ...
               '2016-11-25', '2016-11-28', '2016-11-29', '2016-11-30',
               '2016-12-01', '2016-12-02', '2016-12-05', '2016-12-06',
               '2016-12-07', '2016-12-08'],
              dtype='datetime64[ns]', name='Date', length=4517, freq=None)

In [48]:
data_pct=data.pct_change()

In [49]:
data_pct=data_pct.iloc[1:,:]
data_pct

,SPTR Index,FNERTR Index,RU10INTR Index,SPGSCITR Index,GDDUEAFE Index,LBUSTRUU Index,LF98TRUU Index,GDLEEGF Index
Date,,,,,,,,
1999-01-05,0.013624,0.003760,0.012301,-0.008623,0.006591,-0.001737,0.000484,0.003617
1999-01-06,0.022368,0.001503,0.021337,0.029791,0.014800,0.001669,0.000912,0.022741
1999-01-07,-0.001991,-0.006748,-0.000946,0.002096,-0.005990,-0.001857,0.000670,0.012809
1999-01-08,0.004222,0.000300,0.004282,0.003761,-0.005899,-0.003124,0.001487,-0.003493
1999-01-11,-0.008791,-0.003153,-0.007108,0.010479,-0.008195,-0.000981,0.000612,-0.008740
...,...,...,...,...,...,...,...,...
2016-12-02,0.000397,0.010506,0.000402,0.004221,-0.000226,0.002965,0.001016,-0.006628
2016-12-05,0.005918,0.007937,0.006376,0.009845,0.004063,0.000269,0.001963,0.000030
2016-12-06,0.003439,0.004543,0.004042,-0.007819,0.009726,-0.000289,0.003102,0.005965
2016-12-07,0.013359,0.020651,0.013009,-0.011434,0.011912,0.002728,0.003790,0.003995
2016-12-08,0.002259,0.005557,0.002801,0.007634,0.001525,-0.001710,0.001351,0.012108

In [50]:
pct_mean=pd.DataFrame(data_pct.mean(),columns=['mean']).T
pct_std=pd.DataFrame(data_pct.std(),columns=['std']).T
pct_skew=pd.DataFrame(data_pct.skew(),columns=['skew']).T

In [51]:
sta=pd.concat([pct_mean,pct_std,pct_skew])
sta

,SPTR Index,FNERTR Index,RU10INTR Index,SPGSCITR Index,GDDUEAFE Index,LBUSTRUU Index,LF98TRUU Index,GDLEEGF Index
mean,0.000286,0.000572,0.000298,0.000148,0.000213,0.000192,0.000273,0.000459
std,0.012398,0.018276,0.012473,0.014844,0.011475,0.002378,0.003067,0.010232
skew,0.001377,0.415645,-0.020924,-0.140288,-0.235424,-0.157055,-2.110034,-0.321348

In [52]:
SPTR=data_pct.iloc[:,1]

In [53]:
scs.jarque_bera(SPTR)

(80238.26507648197, 0.0)

In [60]:
def w_jb_test(x):
    return scs.jarque_bera(x)[0]
def p_jb_test(x):
    return scs.jarque_bera(x)[1]

In [68]:
w=pd.DataFrame(data_pct.apply(w_jb_test),columns=['w']).T
p=pd.DataFrame(data_pct.apply(p_jb_test),columns=['p']).T

In [69]:
w

,SPTR Index,FNERTR Index,RU10INTR Index,SPGSCITR Index,GDDUEAFE Index,LBUSTRUU Index,LF98TRUU Index,GDLEEGF Index
w,12010.035635,80238.265076,11549.533551,1046.466879,7656.203718,433.312861,199016.632412,9578.279115

In [70]:
results=pd.concat([pct_mean,pct_std,pct_skew,w,p])

In [71]:
results

,SPTR Index,FNERTR Index,RU10INTR Index,SPGSCITR Index,GDDUEAFE Index,LBUSTRUU Index,LF98TRUU Index,GDLEEGF Index
mean,0.000286,0.000572,0.000298,0.000148,0.000213,0.000192,0.000273,0.000459
std,0.012398,0.018276,0.012473,0.014844,0.011475,0.002378,0.003067,0.010232
skew,0.001377,0.415645,-0.020924,-0.140288,-0.235424,-0.157055,-2.110034,-0.321348
w,12010.035635,80238.265076,11549.533551,1046.466879,7656.203718,433.312861,199016.632412,9578.279115
p,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [72]:
def f(x):
    return np.log(x/x.shift(1))

In [77]:
data_log = data.apply(f)

In [78]:
data_log

,SPTR Index,FNERTR Index,RU10INTR Index,SPGSCITR Index,GDDUEAFE Index,LBUSTRUU Index,LF98TRUU Index,GDLEEGF Index
Date,,,,,,,,
1999-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-05,0.013532,0.003753,0.012226,-0.008660,0.006570,-0.001739,0.000484,0.003611
1999-01-06,0.022122,0.001502,0.021112,0.029356,0.014691,0.001668,0.000912,0.022486
1999-01-07,-0.001993,-0.006771,-0.000947,0.002094,-0.006008,-0.001858,0.000669,0.012728
1999-01-08,0.004213,0.000300,0.004273,0.003754,-0.005916,-0.003129,0.001486,-0.003499
...,...,...,...,...,...,...,...,...
2016-12-02,0.000397,0.010451,0.000402,0.004212,-0.000226,0.002961,0.001016,-0.006650
2016-12-05,0.005901,0.007906,0.006356,0.009797,0.004055,0.000269,0.001961,0.000030
2016-12-06,0.003433,0.004533,0.004033,-0.007849,0.009679,-0.000289,0.003097,0.005948
2016-12-07,0.013271,0.020441,0.012925,-0.011500,0.011841,0.002725,0.003782,0.003987
2016-12-08,0.002257,0.005542,0.002797,0.007605,0.001524,-0.001711,0.001350,0.012035